<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"inherit":true,"type":"constrained"},"otterConditions":[]} -->
<div class="wp-block-group"><!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"width":"25%","backgroundColor":"ti-bg"} -->
<div class="wp-block-column has-ti-bg-background-color has-background" style="flex-basis:25%"><!-- wp:shortcode -->
[wcpf_filters id="604"]
<!-- /wp:shortcode --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"75%","backgroundColor":"ti-bg"} -->
<div class="wp-block-column has-ti-bg-background-color has-background" style="flex-basis:75%"><!-- wp:woocommerce/legacy-template {"template":"taxonomy-product_cat"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->